@page
@model FinalProjectSmithAshley.Pages.BreederDetails.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblBreederDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.BreederFirstName" class="control-label"></label>
                <input asp-for="TblBreederDetail.BreederFirstName" class="form-control" />
                <span asp-validation-for="TblBreederDetail.BreederFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.BreederLastName" class="control-label"></label>
                <input asp-for="TblBreederDetail.BreederLastName" class="form-control" />
                <span asp-validation-for="TblBreederDetail.BreederLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.Address" class="control-label"></label>
                <input asp-for="TblBreederDetail.Address" class="form-control" />
                <span asp-validation-for="TblBreederDetail.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.City" class="control-label"></label>
                <input asp-for="TblBreederDetail.City" class="form-control" />
                <span asp-validation-for="TblBreederDetail.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.State" class="control-label"></label>
                <input asp-for="TblBreederDetail.State" class="form-control" />
                <span asp-validation-for="TblBreederDetail.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.PhoneNumber" class="control-label"></label>
                <input asp-for="TblBreederDetail.PhoneNumber" class="form-control" />
                <span asp-validation-for="TblBreederDetail.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblBreederDetail.Rating" class="control-label"></label>
                <input asp-for="TblBreederDetail.Rating" class="form-control" />
                <span asp-validation-for="TblBreederDetail.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
